.breadcrumbContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.4rem;
}

.breadcrumbFrame {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: .2rem;
    background-color: #f9f9f9;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: .2rem;
}

.breadcrumbLink:link,
.breadcrumbLink:visited {
    text-decoration: none;
    color: inherit;
}

.breadcrumbLink:hover,
.breadcrumbFrame:hover {
    background-color: #d9d9d9;
}

.breadcrumbChevron{
    height: 1em;
    width: auto;
    vertical-align: middle;
}