.userButton {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.userButton img {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    cursor: pointer;
}