.recipeCard,
.recipeCard div {

}

.recipeTitleFrame {
    text-align: center;

}

.recipeTitle {
    text-align: center;
    font-size: 4rem;
}

.recipeDescriptionFrame {

}

.recipeDescription {

}

.stepIngredient {
    background-color: #cccccc;
    vertical-align: top;
    padding: .3rem;
}

.stepDescription {
    background-color: #cccccc;
    vertical-align: top;
    padding: .3rem;
}

.ingredientWorkStepGeneric {
    font-style: italic;
}

.recipeStepsFrame {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}