
.actionsRight {
    display: flex;
    margin: .1rem;
}

.actionsRight button {
    margin: 1rem;
}

.backButtonFrame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.backButton,
.backButtonDisabled {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1.25rem;
}

.backButtonDisabled {
    opacity: 0.2;
}

.backButtonLink:link,
.backButtonLink:visited,
.backButton:link,
.backButton:visited {
    text-decoration: none;
    color: inherit;
}

/*.backButtonLink:hover,*/
.backButton:hover {
    background-color: #d9d9d9;
}

.backButton img,
.backButtonDisabled img {
    transform: scaleX(-1);
    /*margin-top: .0rem;*/
    height: 1.5em;
    width: auto;
    vertical-align: middle;
}

.toolButtons img {
    transform: scaleX(-1);
    /*margin-top: .0rem;*/
    height: 1.5em;
    width: auto;
    vertical-align: middle;
}