.setPasswordFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.innerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    width: 100%;
}

.setPasswordButtonFrame,
.passwordEntropyCheckFrame,
.passwordInputFrame {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.setPasswordButtonFrame button {
    width: 100%;
    max-width: 93%;
}

.passwordEntropyCheckFrame {
    width: calc(100% - 2rem);
    max-width: 100%;
    height: 3rem;
    margin: 2rem;
}

.passwordInputFrame input {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.goodPassword,
.badPassword {
    width: 2em;
    height: 2em;
    margin-top: -1.3em;
}

.goodPassword {
    color: green;
}

.badPassword {
    color: red;
}

.headerFrame {

}

.inputWithIcon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.errorMessage {
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}
