.categoryLayout {
    display: flex;
    height: calc(100% - 1.5em);
    overflow: hidden;
}

.categoryContainer {
    width: 300px; /* oder flex-basiert */
    overflow-y: auto;
    padding: 1rem;
    border-right: 1px solid #ccc;
}

.categoryOptions {
    flex: 1;
    padding: 1rem;
    overflow: hidden; /* damit sie nicht mitscrollt */
}
